﻿

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>Hello Testing page!!</p>
        <p>Please note, when the api key function (located in the ApiKeyController of the Controllers folder)
            set to private and/or static, the key will NOT be displayed on this page, but it should still
            technically work. In concludion, change "private static..." to "public" to view the ApiKey results.
        </p>
        <ul id="apikey"/>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
                $.ajax({
                    url: "/api/ApiKey", success: function (result) {
                        $("#apikey").html(result);
                    }
                });
        });
    </script>
   
</body>
</html>
