﻿@model Phase2WebAPI.Models.User

@{
    ViewBag.Title = "Delete";
}

<h2>Delete User</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>



    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to User Management", "UserManagement", "ManageUsers", null, new { @class = "btn btn-info" })
        </div>
    }
</div>
