﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body ng-app="UserApp">
    {{2+2}}
    <div>
        <h2>Users</h2>

        <p>
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
        </p>
        <div ng-controller="UserController">
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Api Key</th>
                </tr>
                <tr ng-repeat="a in users">
                    <td>{{a.Id}}</td>
                    <td>{{a.Email}}</td>
                    <td>{{a.Password}}</td>
                    <td>{{a.ApiKey}}</td>
                </tr>
            </table>
        </div>
    </div>

    <script src="~/Scripts/angular.js"></script>
    <script>
        var app = angular.module("UserApp", []);
        app.controller("UserController", function ($scope, $http) {
            $http.get('http://localhost:53879/api/users').
                success(function (data, status, headers, config) {
                    $scope.users = data;
                }).
                error(function (data, status, headers, config) {
                    alert("error");
                });

        });

    </script>

</body>
</html>

