﻿
<!DOCTYPE html>

<!--<html ng-app="383SPAStore">
-->
<html>
<head>
    <title>383 SPA Store</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet" type="text/css" />

    <meta charset="utf-8" />
</head>
<body ng-app="ProductApp" ng-controller="ProductController">
    <div>
        <h2>Items</h2>

        <p>
        </p>
        <div class="container">

            <p>
                <input type="text" class="form-control" placeholder="Search for an item" ng-model="searchItems">

            </p>
            <p>

            </p>
            <p align="right">
                <button ng-click="toggleModal()" class="btn btn-default">View Cart</button>
            </p>

            <modal title="Shopping Cart" visible="showModal">
                <form role="form">
                    <div>
                        <table class="table">
                            <tr>
                                <th>Product Name</th>
                                <th>Qty</th>
                                <th>Price</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                            <tr ng-repeat="item in invoice.items">
                                <td>{{item.name}}</td>
                                <td>{{item.quantity}}</td>
                                <td>{{item.price}}</td>
                                <td>{{item.quantity * item.price | currency}}</td>
                                <td>
                                    [<a href ng-click="removeItem($index)">X</a>]
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="form-group">
                        <label for="email"><b>Email address</b></label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email" />
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="postSale()">Checkout</button>
                </form>
            </modal>
        </div>
        <p></p>
        <p></p>
        <div>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Created Date</th>
                    <th>Last Date</th>
                    <th>Price</th>
                    <th>In Stock</th>
                    <th>Category</th>
                    <th>Manufacturer</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
                <tr ng-repeat="a in products | filter:searchItems">
                    <td>{{a.Name}}</td>
                    <td>{{a.CreatedDate}}</td>
                    <td>{{a.LastModifiedDate}}</td>
                    <td>${{a.Price}}</td>
                    <td>{{a.InventoryCount}}</td>
                    <td>{{a.Category.CategoryName}}</td>
                    <td>{{a.Manufacturer.ManufacturerName}}</td>
                    <td><input type="number" ng-model="a.quantity" ng-required class="input-sm" min="1" max="{{a.InventoryCount}}" /></td>
                    <td>
                        <a href ng-click="addItem( a.Name, a.quantity, a.Price)">Add to cart</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <script src="~/Scripts/angular.js"></script>
    <script>
        var app = angular.module("ProductApp", []);

        /*
        app.service("myService", function ($http) {
            this.updateProduct = function (productId, product) {
                var response = $http({
                    method:
                });
            }
        });
        */

        app.controller("ProductController", function ($scope, $http) {
            $http.get('http://localhost:53879/api/products').
                success(function (data, status, headers, config) {
                    $scope.products = data;
                }).
                error(function (data, status, headers, config) {
                    alert("error");
                });


            $scope.showModal = false;
            $scope.toggleModal = function () {
                $scope.showModal = !$scope.showModal;
            };

            
            $scope.invoice = {
                items: [

                ]

            };

            $scope.addItem = function (productName, productQuantity, productPrice) {
                $scope.invoice.items.push({
                    name: productName,
                    quantity: productQuantity,
                    price: productPrice
                });
            };

            $scope.removeItem = function (index) {
                $scope.invoice.items.splice(index, 1);
            };

            $scope.postSale = function () {

                var product = {
                    ProductId: 1,
                    Name: "PaperCups",
                    CreatedDate: "2016-03-21T00:00:00",
                    LastModifiedDate: "2016-03-21T00:00:00",
                    Price: 3.00,
                    InventoryCount: 2,
                    CategoryId: 1,
                    ManufacturerId: 1
                }


                var obj = {
                    Id: 2,
                    TotalAmmount: 30.00,
                    Date: "2016-03-21T00:00:00",
                    EmailAddress: 'admin@gmail.com',
                    Product : [product] 
                   
                }

                var test = $.param({
                    json: JSON.stringify({
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                        Id: 2,
                        TotalAmmount: 30.00,
                        Date: "2016-03-21T00:00:00",
                        EmailAddress: 'admin@gmail.com',
                        Product: [product]
                    })
                });

                $http.post('/api/sales', test).success(function (data) {
                    alert('success!');
                }).error(function (data) {
                    alert('didnt work ' + JSON.stringify(data))
                });
            };
            

            app.directive('modal', function () {
                return {
                    template: '<div class="modal fade">' +
                        '<div class="modal-dialog modal-sm">' +
                          '<div class="modal-content">' +
                            '<div class="modal-header">' +
                              '<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>' +
                              '<h4 class="modal-title">{{ title }}</h4>' +
                            '</div>' +
                            '<div class="modal-body" ng-transclude></div>' +
                          '</div>' +
                        '</div>' +
                      '</div>',
                    restrict: 'E',
                    transclude: true,
                    replace: true,
                    scope: true,
                    link: function postLink(scope, element, attrs) {
                        scope.title = attrs.title;

                        scope.$watch(attrs.visible, function (value) {
                            if (value == true)
                                $(element).modal('show');
                            else
                                $(element).modal('hide');
                        });

                        $(element).on('shown.bs.modal', function () {
                            scope.$apply(function () {
                                scope.$parent[attrs.visible] = true;
                            });
                        });

                        $(element).on('hidden.bs.modal', function () {
                            scope.$apply(function () {
                                scope.$parent[attrs.visible] = false;
                            });
                        });
                    }
                };
            });


        });


        /*
        app.controller('MainCtrl', function ($scope) {
            $scope.showModal = false;
            $scope.toggleModal = function () {
                $scope.showModal = !$scope.showModal;
            };

            /*
            $scope.invoice = {
                items: [

                ]

            };

            $scope.addItem = function (productName, productQuantity, productPrice) {
                $scope.invoice.items.push({
                    name: productName,
                    quantity: productQuantity,
                    price: productPrice
                });
            };
            */

       // });



        app.directive('modal', function () {
            return {
                template: '<div class="modal fade">' +
                    '<div class="modal-dialog modal-sm">' +
                      '<div class="modal-content">' +
                        '<div class="modal-header">' +
                          '<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>' +
                          '<h4 class="modal-title">{{ title }}</h4>' +
                        '</div>' +
                        '<div class="modal-body" ng-transclude></div>' +
                      '</div>' +
                    '</div>' +
                  '</div>',
                restrict: 'E',
                transclude: true,
                replace: true,
                scope: true,
                link: function postLink(scope, element, attrs) {
                    scope.title = attrs.title;

                    scope.$watch(attrs.visible, function (value) {
                        if (value == true)
                            $(element).modal('show');
                        else
                            $(element).modal('hide');
                    });

                    $(element).on('shown.bs.modal', function () {
                        scope.$apply(function () {
                            scope.$parent[attrs.visible] = true;
                        });
                    });

                    $(element).on('hidden.bs.modal', function () {
                        scope.$apply(function () {
                            scope.$parent[attrs.visible] = false;
                        });
                    });
                }
            };
        });

    </script>

</body>
</html>


<!--
<!DOCTYPE html>
<html ng-app="383SPAStore">
<head>
    <title>383 SPA Store</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet" type="text/css"/>

    <script src="CustomScripts/shoppingcart.js" type="text/javascript"></script>
    <script src="CustomScripts/SPA.js" type="text/javascript"></script>
    <script src="CustomScripts/SPAcontroller.js" type="text/javascript"></script>
    <script src="CustomScripts/store.js" type="text/javascript"></script>
    <link href="site.css" rel="stylesheet" type="text/css"/>

	<meta charset="utf-8" />
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <h1 class="well">
                <a href="index.cshtml">
                    <img class="glyphicon-shopping-cart" height="100"width="100" alt="shoppingCartIcon"/>

                </a>
                Items
            </h1>
            <div ng-view></div>

        </div>
    </div>
</body>
</html>
    -->
